@media screen and (max-width: 768px) {

    /* theme-vars */
    :root {
        --gap: 14px;
    }

    /* profile-mode */
    .profile img {
        transform: scale(0.85);
    }

    /* post-entry */
    .first-entry {
        min-height: 260px;
    }

    /* archive */
    .archive-month {
        flex-direction: column;
    }

    .archive-year {
        margin-top: 20px;
    }

    /* footer */
    .footer {
        padding: calc((var(--footer-height) - var(--gap) - 10px) / 2) var(--gap);
    }
}

/* footer */
/* @media screen and (max-width: 900px) {
    .list .top-link {
        transform: translateY(-5rem);
    }
} */

/* from zmedia */
@media screen and (min-width: 768px) {

    /* reset */
    ::-webkit-scrollbar {
        width: 20px;
        height: 20px;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--border);
        border-color: var(--theme);
        border-style: solid;
        border-width: 5px 5px;
        border-radius: var(--radius);
    }
}

@media screen and (max-width: 767px) {

    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--border);
        border-color: var(--theme);
        border-style: solid;
        border-width: 3px 3px;
        border-radius: var(--radius);
    }
}

@media (prefers-reduced-motion) {

    /* terms; profile-mode; post-single; post-entry; post-entry; search; search */
    .terms-tags a:active,
    .button:active,
    .post-entry:active,
    .top-link,
    .toc-btn,
    #searchResults .focus,
    #searchResults li:active {
        transform: none;
    }
}

@media (width < 425px) {
    html {
        font-size: 12px;
    }
}


@media (425px <=width < 768px) {
    html {
        font-size: 12px;
    }
}

@media (768px < width) {
    html {
        font-size: 16px;
    }
}